:root {
    --black: #101010;
    --gray: #2d2d2d;
    --white: white;
    --light: #eee;
    --dark-light: #969696;
    --yellow: #ffde83;
    --dark-yellow: #eec657;
    --ban: #f44336;
    --background-color: black;
    --text-color: hsl(0, 0%, 100%);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--black);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(126, 124, 124, 0);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--yellow);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--dark-yellow); 
}

.hidden {
    display: none !important;
}
.showen {
    display: unset !important;
}